*{
    margin: 0;
}
.header{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    border-radius: 2px;
    border-bottom: 1px solid #EDEEF3;
}
.header img{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo h1{
    font-size: 2.3rem;
    color: #00D2DC;
    font-weight: 700;
    line-height: 1.2;
}
.body{
    width: 100%;
    height: calc(94vh - 50px);
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.history{
    height: 90%;
    width: 15%;
    background-color: white;
    border-radius: 10px;
    border-color: #c4bfbf;
    box-shadow: 0 0 10px #0000001a;
    margin-right: 20px;
    box-sizing: border-box;
    padding: 10px 5px;
    overflow-y: auto;
    scrollbar-width: thin;
}
.history h2{
    color: #00D2DC;
}
.content{
    
    width: 70%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    border-color: #c4bfbf;
    box-shadow: 0 0 10px #0000001a;
    box-sizing: border-box;
    padding: 25px 20px;
    color: rgb(107, 103, 103);
}
.content h2{
    font-size: 2rem;
    text-align: center;
    color: #00D2DC;
}
.content form{
    margin-top: 15px;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.context-nameVideo{
    width: 100%;
    display: flex;
    align-items: center;
    border: solid 1px black;
    border-radius: 5px;
}
.name-file{
    box-sizing: border-box;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    width: 85%;
    font-size: 18px;
    border: none;
    border-right: none;
}
.name-file:focus{
    outline: none;
}
.context-nameVideo span{
    display: block;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00D2DC;
    color: rgb(27, 23, 23);
    font-weight: 600;
}
.video-preview{
    height: 80%;
    border: 3px dotted #a3a3a3;
    width: 100%;
    border-radius: 10px;
    display: flex;
  align-items: center;
  justify-content: center;

}
form .choice{
    width: 100%;
    margin-top: 15px;
    text-align: right;
}
.choice button{
    padding: 7px 20px;
    font-size: 16px;
    font-weight: 550;
    margin: 0 8px;
    cursor: pointer;
}
.button-submit{
    background-color: #00D2DC;
    color: black;
    
    border-color: #00D2DC;
}
.button-submit:hover{
    background-color: #00D2DC;
    color: #e3e0e0;
}
.button-reset{
    background-color: rgb(228, 8, 8);;
    color: #fff;
    border-color:  rgb(228, 8, 8);
}
.button-reset:hover{
    background-color:  rgb(228, 8, 8);
    color: black;
}

.video-preview {
    display: flex;
    justify-content: center;
    flex-wrap:nowrap;
    gap: 10px;
    margin-top: 10px;
    overflow-x: auto; 
    padding-bottom: 10px;
    scrollbar-width: thin;
}

.video-preview .video-item{
    position: relative;
    width: 250px;
    height: 200px;
    flex-shrink: 0;
}

.video-preview video {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.video-preview button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.video{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-bottom: #a3a3a3 solid 1px;
    padding: 0 5px 5px;
}
.uncomplete{
    flex-direction: column;
}
.complete{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.video label{
    display: inline-block;
    width: 25%;
    font-size: 14px;
}
.video h3{
    line-height: 18px;
    font-weight: 550;
    color: #2A314F;;
}
.video progress{
    display: inline-block;
    width: 70%;
}
.video .button-download{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   color: #00D2DC;
   cursor: pointer;
}
.button-download:hover{
    color: #05939b;
}
.button-download img{
    width: 100%;
    height: 100%;
}

